.transfer-form-wrapper {
  margin: auto;
  background: var(--white-color);
  padding: 22px;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.tailor-made-sidebar {
  border-radius: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 20px;
  background: var(--white-color);
  height: 612px;
}

.tailor-made-sidebar .trip-init-img {
  position: relative;
}

.trip-initial p {
  margin: 5px auto;
}

/* .trip-initial p::first-letter{
  color: var(--main-color);
} */
.trip-init-img-overlay {
  position: absolute;
  bottom: 0;
  z-index: 20;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  backdrop-filter: blur(3px);
  color: var(--white-color);
  border-top: 1px solid var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.tailor-made-sidebar .trip-init-img img {
  border-radius: 10px;
  object-fit: cover;
  min-width: 100%;
  height: 321px;
}

.trip-init-img-overlay span {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;

}

.trip-init-img-overlay img {
  width: 50px !important;
  height: 50px !important;
  min-width: auto !important;
}

.trip-summary img {
  height: 200px;
  border-radius: 10px;
  min-width: 100%;
  object-fit: cover;
  margin-bottom: 15px;
}

.step-nav {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  gap: 0;
}

.step-nav i {
  display: none;
}

.step-nav .active i {
  display: inline-block;
  height: 25px;
  width: 25px;
  background: #f7921f;
  border-radius: 50%;
  line-height: 25px;
  color: var(--white-color);
  margin-right: 5px;
}

.step-nav div {
  /* flex: 1; */
  /* text-align: center; */
  /* padding: 10px; */
  /* font-weight: bold; */
  /* border-bottom: 2px solid #ddd; */
  /* border-radius: 20px; */
  /* border: 2px solid #ddd; */
  display: flex;
  align-items: center;
  background: var(--main-grey);
  /* border-radius: 25px; */
  padding: 9px 15px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #000;
  transition: all 0.3s 
ease;
  position: relative;
}

.step-nav .active {
  border-color: #fc7417;
  color: #233f5a;
  background: #2f4a73;
  color: var(--white-color);
}

.tab-content {
  /* border: 1px solid #eee; */
  border-radius: 6px;
  padding: 4px;
  margin-top: 36px;
  padding-bottom: 0;
}

.custom-btn {
  /* background-color: #142843;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 4px; */
  color: #142843;
  font-size: 17px;
  font-weight: 700;
  line-height: 27px;
  overflow: hidden;
  padding: 8px 48px;
  position: relative;
  transition: all .5s ease;
  z-index: 1;
  border-radius: 8px;
  border: 1px solid;
}

.custom-btn:hover {
  background-color: #345a85;
}

.tab-buttons .nav-link.active {
  /* background-color: #f7921f; */
  border: 4px solid;
  color: #142843;
  border-color: #f7921f #f7921f #f7921f;
  border-radius: 11px;
}

.pickup-ways .nav-link img {
  width: 25px;
  height: 25px;
  color: #000;
  filter: brightness(0.5);
}

.pickup-ways .nav-link.active img {
  width: 25px;
  height: 25px;
  filter: brightness(0.5);
}

.oneway-time,
.twoway-time .departure-date,
.twoway-time .departure-time,
.oneway-location,
.twoway-location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.twoway-departure {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.oneway-time .input-box,
.twoway-time .input-box,
.oneway-location .input-box,
.twoway-location .input-box {
  flex: 1;
}

.select2-container--default .select2-selection--single {
  height: 44px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
  display: flex;
  align-items: center;
}

/* Remove awkward spacing between label and box */
.input-box .select2-container {
  width: 100% !important;
  margin-top: 0.25rem;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  font-size: 12px;
}

/* Add focus effect like Bootstrap's */
.select2-container--default .select2-selection--single:focus,
.select2-container--default .select2-selection--single:focus-visible,
.select2-container--default .select2-selection--single:focus-within {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  outline: none;
}

/* Remove blue box inside the selection */
.select2-selection__rendered {
  color: #212529;
  line-height: 1.5;
  padding-left: 0;
}

.input-box {
  position: relative;
  margin-bottom: 10px;
}

.input-box label {
  position: absolute;
  top: -19px;
  z-index: 20;
  left: 10px;
  text-transform: capitalize;
  font-size: 17px !important;
  font-weight: 500;
  color: var(--deep-blue);
  background-color: #ffffff;
  /* font-size: 32px; */
}

.input-box input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 50px;
  border-radius: 10px;
}

.summary-box {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.input-box .select2:focus,
.input-box .select2:focus+label {
  border: 1px solid var(--second-color) !important;
}

.input-box input[type="date"]:focus+label,
.input-box input[type="date"]:valid+label,
.input-box input[type="number"]:focus+label,
.input-box input[type="tel"]:focus+label,
.input-box input:not(:placeholder-shown)+label,
.input-box input[type="email"]:focus+label,
.input-box input[type="text"]:focus+label,
.input-box input[type="text"]:not(:placeholder-shown)+label,
.input-box textarea:focus+label,
.input-box textarea:not(:placeholder-shown)+label {
  left: 15px;
  top: -14px;
  background-color: var(--white-color);
  color: #142843;
  padding: 3px 5px;
}

.custom-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

.nav-tabs .nav-link {
  color: #233f5a;
  font-size: 18px;
}

select {
  padding: 11px !important;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  /* border-color: transparent; */
  isolation: isolate;
}

.counter-controls {
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 0;
  gap: 4px;
  justify-content: center;
  box-shadow: rgb(60 64 67 / 0%) 0px 1px 2px 0px, rgb(60 64 67 / 6%) 0px 2px 6px 2px;
  padding: 6px;
}

button.decrease-btn {
  background: var(--white-color);
  box-shadow: none;
  border: 2px solid #000;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  color: #000;
  font-size: 20px;
}

button.increase-btn {
  background: var(--white-color);
  box-shadow: none;
  border: 2px solid #1a2b49;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  color: #1a2b49;
  font-size: 20px;
}

input.quantity-input {
  width: 110px;
  border: 2px solid;
  text-align: center;
  border-color: #233f5a;
  height: 48px;
}

.form-step3 {
  display: flex;
  justify-content: space-between;
}

.booking-summary {
  /* background: #fff; */
  border-radius: 8px;
  padding: 20px;
  /* max-width: 900px; */
  margin: auto;
  /* box-shadow: 0 2px 6px rgba(0,0,0,0.1); */
}

.booking-summary h3 {
  margin-bottom: 20px;
  font-weight: bold;
}

.info-grid {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 15px 50px; */
  flex-direction: row;
  flex-wrap: wrap;
}

.info-item {
  border-left: 3px solid #eee;
  padding-left: 10px;
}

.info-item small {
  display: block;
  color: #999;
  margin-bottom: 3px;
  font-size: 16px;
}

.info-item span {
  font-weight: bold;
}

hr {
  margin: 25px 0;
  border: none;
  border-top: 1px solid #f1f1f1;
}

.total-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: orange;
}

.total-label {
  margin-right: auto;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.edit-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 1px solid #0a2a6b;
  background: none;
  color: #0a2a6b;
  border-radius: 20px;
  padding: 6px 14px;
  cursor: pointer;
}

.booking-header {
  position: relative;
}



.price-filter {
  /* max-width: 600px; */
  /* margin: auto; */
  border: 2px solid #e9ecef;
  padding: 11px;
}

.price-filter h3 {
  margin-bottom: 10px;
}

.range-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.range-inputs input {
  width: 45%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  text-align: center;
  font-weight: bold;
}

.slider {
  position: relative;
  height: 5px;
  background: #ddd;
  border-radius: 5px;
  border: none;
}

.progress {
  position: absolute;
  height: 5px;
  background: orange;
  border-radius: 5px;
}

.range {
  position: relative;
  width: 100%;
}

.range input {
  position: absolute;
  top: -11px;
  width: 100%;
  height: 5px;
  -webkit-appearance: none;
  background: none;
  pointer-events: none;
  border: none;
}

.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  background: #fff;
  border: 2px solid orange;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
}

.labels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #555;
  margin-bottom: 5px;
}

@media (max-width: 767px) {

  .tailor-made-sidebar {
    margin-top: 20px;
  }



}

.nav-tabs {
  border-bottom: 1px solid #dee2e600;
}

.summary-item{
      font-size: 18px;
      color: #d5a712;
      font-weight: 700;
}


.summary-head{
      text-align: center;
    font-size: 24px;
    font-weight: 600;
}
.flatpickr-months .flatpickr-month {
    height: 55px !important;
}

#trip-summary .flatpickr-calendar.open {
    height: 370px !important;
}

#trip-summary .flatpickr-calendar input[type="number"]{
    height: 49px !important;
  }



.tailor-made-sidebar {
    height: auto;
}.flatpickr-calendar.hasTime .flatpickr-time {
    height: 40px;
    border-top: 1px solid #e6e6e6;
    margin-bottom: 11px;
}


input[type="text"], input[type="email"], input[type="url"], input[type="number"], input[type="tel"], input[type="date"], input[type="search"], input[type="password"], input[type="subject"], .form-select {
    height: 52px;
}



.summary-box span{
  font-size: 19px;
}


.flatpickr-calendar.hasTime .flatpickr-time {
    height: 40px;
    border: 1px solid #e6e6e6;
    margin-bottom: 11px;
    border-radius: 24px;
}



.step.active .step-number {
    background: var(--white-color);
    color: var(--main-color);
}
.step-number {
    background: var(--white-color);
    color: var(--main-color);
    border-radius: 50%;
    width: 25px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: bold;
    margin-right: 0.5rem;
}
.step:nth-child(1) {
    border-radius: 5px 0 0 5px;
}



.step-nav .active::after {
    content: "";
    position: absolute;
    top: -6px;
    right: -19px;
    width: 19px;
    height: 129%;
    background: #2f4a73;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    border-radius: 4px;
    z-index: 2;
}

.city-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  gap: 10px;
}
.city-box{
  border-radius: 10px;
  position: relative;
}
.city-box.active {
  background-color: var(--second-color);
  height: 68px;
}
.city-box label{
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0px 13px 48px 0px rgb(153 110 59 / 20%);
  padding: 0.5rem;
  gap: 5px;
  cursor: pointer;
}
.city-check{
  display: none;
}


.city-box.active h5 {
  color: var(--white-color);
}

.city-box p {
  max-width: 100px;
  font-size: 16px;
  font-weight: 400;
  color: var(--main-color);
}

.city-box img {
  /* width: 50px; */
  height: 50px;
  object-fit: cover;
  /* border-radius: 999px; */
  min-width: 100%;
  object-fit: cover;
  height: 110px;
  border-radius: 10px;
}



.city-box:hover .plan-destination-content {
    background: transparent;
    color: var(--white-color);
    bottom: 25px;
    position: absolute;
    left: 0;
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
.plan-destination-content {
    position: absolute;
    bottom: 0;
    background: var(--white-color);
    text-align: center;
    padding: 0.5rem;
    width: 100%;
}

.plan-destination-content
    h2 {
    transform: scale(0);
    opacity: 0;
    height: 0;
    width: 0;

}

.city-box:hover .plan-destination-content h2 {
    transform: scale(1);
    opacity: 1;
    height: auto;
    width: auto;
    margin-bottom: 1rem;
    color: var(--third-color);
}

.city-box:hover .plan-destination-content h3 {
    color: var(--white-color);
}

.plan-destination-contenth3 {
    font-size: clamp(0.75rem, 2.5vw, 1.2rem);
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    color: var(--black-color);

};
}

.city-box:hover .nice-label img {
    transform: scale(1.1);
    border-radius: 10px;
    overflow: hidden;
    filter: brightness(0.8) blur(1px);
    /* height: 100%; */
    transition: all 0.5s ease-in-out;
}

.plan-destination-content {
    position: relative;
    bottom: 0;
    /* background: var(--white-color); */
    text-align: center;
    padding: 0.5rem;
    width: 100%;
}

.plan-destination-content h2 {
    transform: scale(0);
    opacity: 0;
    height: 0;
    width: 0;

}

.city-box:hover .plan-destination-content h2 {
    transform: scale(1);
    opacity: 1;
    height: auto;
    width: auto;
    margin-bottom: 1rem;
    color:#fff;
    font-size: 23px;
}
